<div class="flex h-56 w-full">
  <div class="relative h-28 w-36 self-start">
    <span class="absolute top-0 left-0 w-5 h-36 bg-yellow-main"></span>
    <img
      src="assets/images/dino-rating.png"
      class="z-20 absolute top-0 left-0"
      alt=""
    />
  </div>
  <div class="md:max-w-52 w-full h-36 self-end flex gap-1 flex-col">
    <h3 class="font-extrabold text-2xl">Lorem Ipsum!!</h3>
    <div class="flex gap-1">
      <img src="assets/images/star-yellow.svg" alt="" />
      <img src="assets/images/star-yellow.svg" alt="" />
      <img src="assets/images/star-yellow.svg" alt="" />
      <img src="assets/images/star-yellow.svg" alt="" />
    </div>
    <p>
      Quisque cursus nunc urna, eget ultricies orci accumsan at. Cras metus
      nibh, viverra vitae erat ut, lacinia interdum nisl...
    </p>
  </div>
</div>
