<footer id="footer">
  <section
    class="flex md:justify-between md:flex-row flex-col items-center container text-xl md:text-2xl mx-auto py-10"
  >
    <img
      ngSrc="assets/images/menosdomesmo-black.svg"
      width="233"
      height="50"
      alt=""
    />
    <p>email&#64;email.com</p>
    <p>17 9 4736-4958</p>
  </section>
  <section class="bg-black h-8 relative">
    <div
      class="bg-yellow-main font-bold text-2xl px-11 md:px-24 py-2 w-fit absolute bottom-0 left-1/2 -translate-x-1/2"
    >
      F&MD
    </div>
  </section>
</footer>
