<section class="bg-black text-white py-12">
  <div
    class="flex justify-between md:items-center container px-4 mx-auto flex-col md:flex-row gap-4"
  >
    <h2 class="text-3xl md:text-6xl font-extrabold text-center md:text-left">
      Assine nossa <br />
      newsletter
    </h2>
    <div>
      <form
        [formGroup]="newsletterForm"
        class="flex flex-col md:flex-row gap-6"
      >
        <div>
          <p-floatLabel>
            <input
              [ngClass]="{
                'border-red-500':
                  newsletterForm.controls.name.invalid &&
                  newsletterForm.controls.name.touched
              }"
              class="bg-black text-white border border-yellow-main md:max-w-60 w-full h-10 rounded-xl px-2"
              pInputText
              id="name"
              formControlName="name"
            />
            <label for="name" class="text-white">Nome</label>
          </p-floatLabel>
          @if (newsletterForm.controls.name.invalid &&
          (newsletterForm.controls.name.dirty ||
          newsletterForm.controls.name.touched)) {
          <small class="text-red-500">O campo nome é obrigatório.</small>

          }
        </div>
        <div>
          <p-floatLabel>
            <input
              [ngClass]="{
                'border-red-500':
                  newsletterForm.controls.email.invalid &&
                  newsletterForm.controls.email.touched
              }"
              class="bg-black text-white border border-yellow-main md:max-w-60 w-full h-10 rounded-xl px-2"
              pInputText
              id="email"
              formControlName="email"
            />
            <label for="email" class="text-white">Email</label>
          </p-floatLabel>
          @if (newsletterForm.controls.email.invalid &&
          (newsletterForm.controls.email.dirty ||
          newsletterForm.controls.email.touched)) {
          <small class="text-red-500">O campo e-mail é obrigatório.</small>

          }
        </div>

        <button
          class="bg-yellow-main rounded-xl md:w-20 w-full h-10 disabled:opacity-50 disabled:cursor-auto flex justify-center items-center"
          type="submit"
          [disabled]="!newsletterForm.valid"
          (click)="showDialog()"
        >
          <img src="assets/images/slides/arrow-right.svg" alt="" />
        </button>
      </form>
    </div>
  </div>
</section>

<p-dialog
  [modal]="true"
  [(visible)]="isDialogVisible"
  [style]="{ width: '25rem' }"
  contentStyleClass="overflow-hidden bg-black rounded-lg p-0"
  showHeader="false"
>
  <section
    class="flex items-center justify-center h-[255px] w-full max-w-[469px] text-white relative before:absolute before:bg-yellow-main before:w-2 before:h-full before:left-0 before:top-0 px-4"
  >
    <div class="flex flex-col items-center gap-5">
      <img src="assets/images/modal-success.svg" alt="" class="size-[60px]" />
      <h2 class="font-extrabold text-2xl">Sucesso!</h2>
      <p class="text-center">
        sua inscrição foi realizada e em breve você começará a receber nossas
        notícias.
      </p>
    </div>

    <button
      class="absolute top-2 right-2 text-2xl"
      (click)="isDialogVisible = false"
    >
      X
    </button>
  </section>
</p-dialog>
