<div class="bg-white rounded-t-3xl my-16 relative">
  <header
    class="absolute left-1/2 -translate-x-1/2 -top-1/4 h-44 md:h-64 md:w-48"
  >
    <img src="assets/images/dinoCard.png" alt="" />
  </header>
  <div class="text-center px-4 pb-9 md:pt-36 pt-40">
    <h3 class="font-extrabold text-2xl">Lorem Ipsum</h3>
    <p>
      Quisque cursus nunc urna, eget ultricies orci accumsan at. Cras metus
      nibh, viverra vitae erat ut, lacinia interdum nisl.
    </p>
  </div>

  <div
    class="bg-yellow-main border-4 border-black absolute -bottom-10 left-1/2 -translate-x-1/2 w-20 h-14 rounded-2xl flex items-center justify-center"
  >
    <img src="assets/images/clawCard.png" alt="" />
  </div>
</div>
